/* ** REGOLE DI DEBUG ** */

/* body {
  background-color: red;
} */

/* ** REGOLE GENERALI ** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul{
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  padding-bottom: 15px;
  font-size: .8em;
  font-weight: 600;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  /* display: flex; */
}

.wrapper::after{
  content: "";
  display: table;
  clear: both;
}

.centratura {
  padding: 0 10px 0 10px;
}

/*  *** MAIN *** */

main {
  height: calc(100% - 100px);
}


/* ** Navbar ** */

.logo {
  width: 55%;
  padding-bottom: 20px;
}

#navsx {
  color: grey;
  position: fixed;
  width: 230px;
  float: left;
  background-color: black;
  height: calc(100% - 100px);
  z-index: 888;
  padding-left: 1%;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

#navsx a {
  color: grey;
}

#navsx ul li {
  padding-bottom: 10px;
  width:100%;
}



.topnav {
  /* display: flex;
  align-items: flex-start; */
}

.topnav > * {
 display: inline-block;
}

.topnav img {
  width: 10%;
  height: 25px;
  vertical-align: middle;
}

.bottomnav {

}

.bottomnav img {
  max-width: 50px;
  max-height: 50px;
}

/* Barra Upgrade */

#upgrade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 777;
  width: 100%;
  height: 70px;
  background-color: #292828;
}

#upgrade .button  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 180px;
  border: 1px solid #fff;
  border-radius: 50px;
  margin-right: 1%;
}

#upgrade .button a {
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
#upgrade .button:hover {
  transform: scale(1.1);
}


/*  ** Content ** */

.content {
  background-color: #151824;
  color: white;
  width: calc(100vw - 230px);
  height: calc(100vh - 100px);
  padding-bottom: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 230px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}

.content p {
  color: grey;
}

.menu-content {
  padding-top: 80px;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-content ul {
  display: flex;
  flex-direction: row;
}

.menu-content a {
  color: grey;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
  font-size: .9em;
  font-weight: 400;
}

#all-music {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 50px;
}

#all-music li {
  display: inline-block;
  width: calc(100% / 6);
}

#all-music img {
  position: relative;
  width: 95%;
  max-width: 200px;
}


.artisti img {
  border-radius: 50%;
}



/*  *** FOOTER *** */

#section-player {
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 100px;
  z-index: 999;
  background-color: rgb(24, 24, 24);
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
}

#section-player button {
  background-color: transparent;
  border: 0;
}

#section-player .now-play {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

#section-player .now-play img {
  width: 20%;
  min-width: 50px;
}

#section-player .now-play .info-brano {
  display: inline-block;
}

#section-player .now-play h3 {
  padding-bottom: 0;
  margin-bottom: 0;
}

#section-player .now-play h3 a{
  color: white;
  font-size: 0.85em;
}

#section-player .now-play h4 a{
  color: grey;
  font-size: 0.65em;
}

#section-player .now-play button{
  color: #75787c;
  padding:2px 6px;
}

#section-player .player-com {
  width: 30%;
  min-width:100px;
  display: flex;
  flex-flow:column;
  justify-content:center;
  align-items:center;
}

#section-player .player-com button {
  color: white;
  padding-right: 4px;
}
#section-player .player-com button:last-of-type{
  padding-right: 0;
}

#section-player .player-com .buttons{
  height:30px;
}

#section-player .player-com button{
  color:white;
  font-size: .8em;
  vertical-align: middle;
}

#section-player .player-com button i.fa-play-circle{
  font-size: 1.8em;
  padding: 0 6px;
  vertical-align: middle;
}

#section-player .player-com .bar a{
  color:white;
  font-size: .7em;
  vertical-align: middle;
}


#section-player .audio {
  padding-left: 10px;
  width:180px;
  min-width: 90px;
  display:flex;
  justify-content: space-between;
}

#section-player .audio button {
  color: white;
  font-size: 0.75em;
  vertical-align: middle;
  padding-right: 8px;
}

#section-player .bar {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

#section-player .bar .bar-full {
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:5px;
  border-radius: 3px;
  background-color: #5a5a5a;
  margin: 0 5px;
}

#section-player .bar .bar-full .bar-time {
  position: absolute;
  left:0;
  width:70%;
  height:5px;
  border-radius: 3px;
  background-color: #c1c1c1;
}

#section-player .player-com .fa-circle{
  position: absolute;
  display: none;
  font-size: 12px;
  color: #c1c1c1;
  right:30%;
  line-height: 5px;
}

#section-player .audio .fa-circle{
  position: absolute;
  display: none;
  font-size: 10px;
  color: #c1c1c1;
  right:30%;
  line-height: 3px;
}
